<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Add Game to Player: <span th:text="${player.fname} + ' ' + ${player.lname}"></span></h1>
        <form th:action="@{/gamelog/{playerid}/savegame(playerid=${player.id})}" th:object="${game}" method="post">
            <div class="form-group">
                <label for="mins">Minutes</label>
                <input type="number" id="mins" th:field="*{mins}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="points">Points</label>
                <input type="number" id="points" th:field="*{points}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="rebounds">Rebounds</label>
                <input type="number" id="rebounds" th:field="*{rebounds}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="assists">Assists</label>
                <input type="number" id="assists" th:field="*{assists}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="blocks">Blocks</label>
                <input type="number" id="blocks" th:field="*{blocks}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="steals">Steals</label>
                <input type="number" id="steals" th:field="*{steals}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="fgm">Field Goals Made (FGM)</label>
                <input type="number" id="fgm" th:field="*{fgm}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="fga">Field Goals Attempted (FGA)</label>
                <input type="number" id="fga" th:field="*{fga}" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" id="date" class="form-control" required />
                <input type="hidden" id="hiddenDate" th:field="*{date}" />
            </div>

            <div class="form-group">
                <label for="opponent">Opponent</label>
                <input type="text" id="opponent" th:field="*{opponent}" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary mt-2">Add Game</button>
            <a th:href="@{/player/{teamid}(teamid=${player.team.id})}" class="btn btn-danger mt-2">Cancel</a>
        </form>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dateInput = document.getElementById('date');
        const hiddenDateInput = document.getElementById('hiddenDate');

        flatpickr(dateInput, {
            dateFormat: "d/m/Y",
            altInput: true,
            altFormat: "F j, Y",
            allowInput: true,
            defaultDate: hiddenDateInput.value,
            onChange: function(selectedDates, dateStr, instance) {
                hiddenDateInput.value = instance.formatDate(selectedDates[0], "Y-m-d");
            },
            onClose: function(selectedDates, dateStr, instance) {
                if (dateInput.value !== dateStr) {
                    hiddenDateInput.value = instance.formatDate(instance.parseDate(dateInput.value, "d/m/Y"), "Y-m-d");
                }
            }
        });
    });
</script>

</html>