<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="username-display d-flex align-items-center p-2 bg-light border rounded" style="max-width: 300px;">
            <span class="font-weight-bold text-primary" th:text="'Logged in as: ' + ${username}"></span>
        </div>
        <form th:action="@{/logout}" method="post" class="logout-button">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <h1 class="mt-3">Player List for Team: <span th:text="${team.name}"></span></h1>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Height (cm)</th>
                    <th>Weight (kg)</th>
                    <th>Date of Birth</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the players of the current team -->
                <tr th:each="player : ${players}">
                    <td th:text="${player.fname}">First name</td>
                    <td th:text="${player.lname}">Last name</td>
                    <td th:text="${player.position}">Position</td>
                    <td th:text="${player.height}">Height</td>
                    <td th:text="${player.weight}">Weight</td>
                    <td th:text="${player.dob}">Date of Birth</td>
                    <td> <a th:href="@{/gamelog/{playerid}(playerid=${player.id})}">Game Log</a></td>
                    <td>
                        <a th:href="@{/player/{teamid}/editplayer/{playerid}(teamid=${team.id}, playerid=${player.id})}" class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/player/{teamid}/deleteplayer/{playerid}(teamid=${team.id}, playerid=${player.id})}" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/player/{teamid}/add(teamid=${team.id})}" class="btn btn-primary">Add New Player</a>
        <a th:href="@{/teamlist}" class="btn btn-secondary mt-3">Back to Team List</a>
    </div>
</body>
</html>
